@mixin grid($align, $justify) {
    display: grid;
    align-items: $align;
    justify-content: $justify;
}

@mixin flexbox($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin alignCenter {
    margin: 0 auto;
}